<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.jobspringboot.mapper.JobsMapper">

    <resultMap id="BaseResultMap" type="com.mycompany.jobspringboot.domain.Jobs">
            <id property="id" column="id" />
            <result property="jobTitle" column="job_title" />
            <result property="categoryName" column="category_name" />
            <result property="salary" column="salary" />
            <result property="city" column="city" />
            <result property="jobDesc" column="job_desc" />
            <result property="company" column="company" />
            <result property="companyInfo" column="company_info" />
            <result property="author" column="author" />
            <result property="authorPhoto" column="author_photo" />
            <result property="publishTime" column="publish_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,job_title,category_name,salary,city,job_desc,
        company,company_info,author,author_photo,publish_time
    </sql>
</mapper>
